bcrypt==3.1.7
cffi==1.14.0
click==7.1.1
Flask==1.1.1
Flask-Cors==3.0.8
Flask-Login==0.5.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mutagen==1.43.0
mysql==0.0.2
mysqlclient==1.4.6
passlib==1.7.2
Pillow==7.0.0
pony==0.7.13
pycparser==2.20
pydub==0.23.1
PyMySQL==0.9.3
reportlab==3.5.32
six==1.14.0
watchgod==0.6
Werkzeug==1.0.1
