{% macro modal(id, title, yes) -%}
<div class="modal fade" id="{{id}}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-primary yes-button">{{yes}}</a>
        <button type="button" class="btn btn-secondary cancel-button"
                data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{%- endmacro %}
