{% extends 'layout.html' %}

{% import 'dialog.html' as dialog %}

{% block content %}
<div class="ticket-chooser">
  <h1>The theme of this round is &quot;{{game.title}}&quot;</h1>
  {% if selected == 0 %}
    <p class="instructions">Please select a Bingo Ticket</p>
  {% elif selected == 1 %}
    <p class="instructions">You have selected {{selected}} ticket
      <a href="{{url_for('view_tickets', game_pk=game.pk)}}"
         class="btn btn-primary">Let's play!</a>
    </p>
  {% elif selected == max_tickets %}
    <p class="instructions">You have selected {{selected}} tickets and
      cannot select any additional tickets
      <a href="{{url_for('view_tickets', game_pk=game.pk)}}"
         class="btn btn-primary">Let's play!</a>
    </p>
  {% else %}
    <p class="instructions">You have selected {{selected}} tickets
    <a href="{{url_for('view_tickets', game_pk=game.pk)}}"
       class="btn btn-primary">Let's play!</a>
    </p>
  {% endif %}
    {% for ticket in tickets %}
    <div class="bingo-ticket {{ticket.status}}">
      <div class="bingo-ticket-wrap {{ticket.status}}">
        {% if ticket.status == 'available' %}
            <a href="{{url_for('add_ticket', game_pk=game.pk, ticket_pk=ticket.pk)}}"
               class="ticket-number  {{ticket.status}}"
               data-pk="{{ticket.pk}}"
               data-number="{{ticket.number}}">
            {{ticket.number}}
          </a>
        {% elif ticket.status == 'mine' %}
            <a href="{{url_for('view_tickets', game_pk=game.pk)}}"
               class="ticket-number  {{ticket.status}}"
               data-pk="{{ticket.pk}}"
               data-number="{{ticket.number}}">
            {{ticket.number}}
          </a>
        {% else %}
          <span class="ticket-number {{ticket.status}}"
                data-pk="{{ticket.pk}}"
                data-number="{{ticket.number}}">
            {{ticket.number}}
          </span>
      {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

{{ dialog.modal("confirm-dialog", "Choose Bingo Ticket", "Yes please") }}

{% endblock %}

{% block extrascripts %}
<script src="{{url_for('static', filename='js/game.js')}}"></script>
{% endblock %}
