{% extends 'layout.html' %}

{% block extraheaders %}
{% endblock %}

{% block content %}
<h1>Hello {{user.username}}</h1>
<table class="table table-striped table-bordered game-list">
  <thead>
    <tr>
      <th colspan="4" class="available-games">Available Bingo games</th>
    </tr>
    <tr>
      <th class="round-column">Round</th>
      <th class="theme-column">Theme</th>
      <th class="date-column">Date</th>
      <th class="ticket-column">Your Tickets</th>
    </tr>
  </thead>
  <tbody>
    {% for game in games %}
    <tr>
      <td class="round-column">{{game.game_round}}</td>
      <td class="theme-column">
        <a href="{{url_for('game',
                 game_pk=game.pk)}}">{{game.title}}</a>
      </td>
      <td class="date-column">
        {{game.start.strftime('%d %B %Y %I:%M%p')}}
      </td>
      <td class="ticket-column">
        {% if game.user_count == 0 %}
          <a href="{{url_for('game', game_pk=game.pk)}}">Choose tickets</a>
        {% else %}
          <a href="{{url_for('view_tickets', game_pk=game.pk)}}">
            {% if game.user_count == 1 %}
              {{game.user_count}} ticket
            {% else %}
              {{game.user_count}} tickets
            {% endif %}
          </a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block scripts %}
{% endblock %}
