<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{{ title }}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if on_production_server %}
            <link href='{{http_protocol}}://fonts.googleapis.com/css?family=Comfortaa:700' rel='stylesheet' type='text/css'>
        {% else %}
            <link href="{{url_for('static', filename='css/comfortaa.css')}}" rel="stylesheet" type="text/css">
        {% endif %}
            <link rel="stylesheet" href="{{url_for('static',
            filename='css/font-awesome.css')}}" type="text/css" />
        {% block firstscript %}{% endblock %}
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" />
        {% block stylesheet %}
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
        {% endblock %}
        <script src="{{url_for('static', filename='js/modernizr-custom.js')}}"></script>
        {% block extraheaders %}{% endblock %}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
      {% include "navbar.html" %}

      <div id="content" class="container_16">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alerts">
          {% for message in messages %}
          <div class="alert alert-primary alert-dismissible fade show"
               role="alert">
            {{ message }}
          </div>
          {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

    {% block content %}
    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>
    {% endblock %}
    </div>
    {% block scripts %}
      <script src="{{url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
      <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    {% endblock %}
    {% block extrascripts %}
    {% endblock %}
    </body>
</html>
