{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Musical Bingo</a>
    <button class="navbar-toggler" type="button"
    data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle
                                                                navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item {{nav['home'].item}}">
          <a class="nav-link {{nav['home'].link}}"
             href="{{url_for('index')}}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {{nav['game'].item}}">
          <a class="nav-link {{nav['play'].link}}"
             {% if game is defined %}
             href="{{url_for('game', game_pk=game.pk)}}"
            {% else %}
            href="#"
             {% endif %}
             >Bingo Game
          </a>
        </li>
        <li class="nav-item {{nav['play'].item}}">
          <a class="nav-link {{nav['play'].link}}"
             {% if game is defined %}
             href="{{url_for('view_tickets', game_pk=game.pk)}}"
            {% else %}
            href="#"
             {% endif %}
             >Play
          </a>
        </li>
        <li class="nav-item {{nav['user'].item}}">
            {% if user %}
            <a class="logout nav-link  {{nav['user'].link}}"
               href="{{url_for('logout')}}">Log Out</a>
            {% else %}
            <a class="login nav-link  {{nav['user'].link}}"
               href="{{url_for('login')}}">Log In</a>
            {% endif %}
        </li>
      </ul>
    </div>
</nav>
{% endblock %}
