.register-form, .logout-form, .password-reset-form {
    padding: 1em;
    width: 40rem;
    margin: 1em 0 1em 4em;
    border: 1px solid #707070;
    border-radius: 3px;
    /*box-shadow: 0.25em 0.35em #b0b0c0;*/
}

.login-form .username {
    margin-top: 1em;
    width: 25em;
}

#login .register-button {
}

#login-page .login-form > .modal {
    position: relative;
}

#login-page .error-detail {
    font-size: 0.8rem;
    font-style:italic;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1em;
}


.password-reset {
    margin: 0 0 0.5rem 0;
    font-size: 90%;
    font-style: italic;
}
