@import "../../styles/brand";

.user-list {
  .group-true {
    color: $true;
  }

  .group-false {
    color: $false;
  }

  .bool-cell {
    display: block;
    height: 100%;
    text-align: center;
    width: 100%;
  }

  th.groups-column,
  th.group-column {
    text-align: center;
  }

  .modified {
    font-weight: bold;
  }

  .deleted {
    color: $deleted;
    text-decoration-line: line-through;
  }
}
