$action-button-border: #666;
$admin-menu-background: #f8e9ea;
$available-ticket-number: #ee3333;
$available-ticket-number-glow: #FC0;
$content-border: #e5e5e5;
$deleted: #777;
$dialog-box-border: #555;
$error: #ff6a00;
$false: palevioletred;
$footer-text: #999;
$menu-background: #f8f9fa;
$nav-menu-background: #e8f0fa;
$pale-text: #666;
$shadow-dark: #111;
$shadow-light: #eee;
$strapline: darkblue;
$taken-ticket-number: #550000;
$ticket-border: #777;
$ticket-grid: #ddd;
$ticket-number-hover: #1111cc;
$true: green;
$username: #23a506;
