#root {
    padding: 0;

    > .container {
        padding: 1em 1em 0 1em;
    }
}

.ticket-chooser .bingo-ticket:hover {
    color: #1111cc;
    transform: scale(1.1);
    cursor: pointer;
}

.ticket-chooser .bingo-ticket.disabled:hover {
    cursor: not-allowed;
}

.view-ticket .logo {
    background-image: url("../img/logo_banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 5em;
}

.bingo-cell .artist {
    font-weight: bold;
}

.view-ticket .download {
    margin: 1em 0 1em 3em;
}

.navbar {
    background-color: #f8f9fa;
}

#root nav.admin {
    background-color: #f8e9ea;
}

.modal-footer .btn + .btn {
    margin-left: 1em;
}

#nav-menu {
    background-color: #e8f0fa;
}

#nav-bar {
    .breadcrumbs {
        height: 3rem;
        line-height: 2rem;

        .breadcrumb {
            padding: 0 1rem;
            background-color: transparent;
        }
    }

    .version-info {
        display: none;
        position: absolute;
        top: 0;
        right: 1em;
        font-size: 0.7rem;
        color: #666;
    }
}

#root .navbar-brand {
    display: none;
}

#root .breadcrumbs {
    display: none;
}

form.submitting, form.loading {
    opacity: 0.6;
}

#index-page {
    position: relative;

    .view-ticket {
        opacity: 0.5;
        width: 60rem;
    }

    .welcome {
        position: absolute;
        padding: 0 4em;
        top: 5em;
        left: 0;
        width: 60rem;
        z-index: 5;
    }

    .strapline {
        font-size: 2.5rem;
        color: darkblue;
        font-style: italic;
    }

    .description {
        font-size: 1.5rem;
        margin-top: 1em;
        line-height: 1.6em;
    }

    .action-buttons {
        display: flex;
        justify-content: space-evenly;
        > .btn {
            border: 1px solid #666;
        }
    }
}

@media (min-width: 640px) {
    #root .navbar-brand {
        display: block;
    }

    #root .breadcrumbs {
        display: block;
    }
}

@media (max-width: 800px) {
    #root .container {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    #root .container {
        max-width: 100%;
    }
}

@media (min-width: 850px) {
    #nav-bar .version-info {
        display: block;
    }
}
