
#root {
    padding: 0;
    > .content {
        padding: 1em 1em 0 1em;
    }
}

.ticket-chooser .bingo-ticket:hover {
    color: #1111cc;
    transform: scale(1.1);
    cursor: pointer;
}

.ticket-chooser .bingo-ticket.disabled:hover {
    cursor: not-allowed;
}

.view-ticket .logo {
    background-image: url("../img/logo_banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 5em;
}

.bingo-cell .artist {
    font-weight: bold;
}

.view-ticket .download {
    margin: 1em 0 1em 3em;
}

.navbar {
    background-color: #f8f9fa;
}

#root nav.admin {
    background-color: #f8e9ea;
}