<div style="border: 2px solid #555">
  <h3 style="font-size: 2.5em; color: darkblue; font-style: italic; margin: 0 2em 0; padding-top: 0.5em;">
    Musical Bingo - Password Reset
  </h3>
  <p>
    A password reset request was created for
    <a href="{{url}}">Musical Bingo</a> using this email address.
  </p>
  <p>
    If this request was from you and you want to reset your current
    password, please click on the following link within the
    next {{time_limit}}.
  </p>
  <p>
    If this password reset request was not requested, don't worry your
    Musical Bingo account will still be working and this link will
    expire after {{time_limit}}. Alternatively, if you log in to
    <a href="{{url}}">Musical Bingo</a>, the password link will be
    cancelled by a successful login.
  </p>
  <p style="font-size: 2em">
    <a href="{{reset_link}}">Reset my password</a>
  </p>
  <p>
    If you have any concerns, please contact me at
    <a href="mailto:{{reply_to}}">{{reply_to}}</a>.
  </p>
</div>
